/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

div.card-header {
 background-color: cornflowerblue;
 color: white;
 font-size: large;
 font-weight: bold;
}

div.card {
  margin-top: 10px;
  margin-left: 10px;
}

.table {
  margin-top: 10px;
}
